:root {
	--color-blue: #415af3;
	--color-dark-blue: #4150d2;
	--color-light-blue: #d7e4fb;

	--color-purple: #9747ff;
	--color-light-purple: #a0adf9; /* Não tá listada, mas aparece como background de alguns botões de modal */

	--color-gray-1: #212529;
	--color-gray-2: #343a40;
	--color-gray-3: #adb5bd;
	--color-gray-4: #e9ecef;
	--color-gray-5: #f1f3f5;
	--color-gray-6: #f8f9fa;
	--color-gray-7: #a1a1a1; /* Não tá listado, mas aparece em alguns títulos */

	--color-green: #56cf8e;
	--color-light-green: #e6f8ee; /* Não tá listada, mas aparece como background do modal de sucesso de criação de hábito */

	--color-red-1: #e64445;
	--color-red-2: #f03839;
	--font-inter: "Inter", sans-serif;
	--font-poppins: "Poppins";

	--color-white: #ffffff;
	--color-black: #000000;
	--color-success: #17a057;
	--color-success-background: #56cf8e96;
	--color-error-background: #e6444481;

}

.modal {
	display: flex;
	align-items: center;
	gap: 15px;
	width: fit-content;
	min-width: 290px;
	height: 90px;
	border: 1px solid black;
	padding: 10px;
	position: absolute;
	bottom: 15px;
	border-radius: 8px;
	color: var(--color-gray-1);
	transition: all 1s ease-in-out;
	opacity: 0;
}

.modal-sucess {
	background: var(--color-success-background);
	border: 2px solid var(--color-green);
}

.modal-error {
	background: var(--color-error-background);
	border: 2px solid var(--color-red-1);
}

.modal i {
	align-self: center;
	font-size: 50px;
	color: var(--color-success);
}

.modal-error i {
	color: var(--color-red-1);
}

.modal main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

@media (min-width: 750px){
	.modal {
		right: 50px;
		bottom: 25px;
	}
}