.header {
	max-width: 988px;
	margin: 0 15px;
	margin-bottom: 58px;
}

@media (min-width: 1024px) {
	.header {
		margin: 0 auto;
		margin-bottom: 25px;
	}
}

.header__top {
	height: 58px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 1.375rem;
	color: var(--color-blue);
}
.header__top::before {
	background-color: var(--color-gray-6);
	width: 100vw;
	height: 58px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: "";
}

.header-top__figure {
	height: 40px;
	width: 40px;
}

.header-top__img {
	min-height: 40px;
	min-width: 40px;
	max-height: 40px;
	max-width: 40px;
	border-radius: 50%;
	border: 2px solid var(--color-blue);
}

.header__bottom {
	height: 125px;
	display: flex;
	justify-content: flex-start;
}

.header__bottom::before {
	background-color: var(--color-blue);
	position: absolute;
	content: "";
	top: 58px;
	left: 0;
	z-index: -1;
	height: 125px;
	width: 100vw;
}

.header-bottom__figure {
	padding-top: 16px;
	padding-right: 23px;
	height: 60px;
	width: 60px;
}

@media (min-width: 768px) {
	.header-bottom__figure {
		padding-top: 0;
		align-self: center;
	}
}

.header-bottom__img {
	min-height: 60px;
	min-width: 60px;
	max-height: 60px;
	max-width: 60px;
	border-radius: 50%;
	border: 2px solid var(--color-white);
}

.header__username {
	font-size: 1.25rem;
	color: var(--color-white);
	padding-top: 33px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.filters {
	width: 61.75rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.containerButtons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2px;
}

.button {
	cursor: pointer;
	background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	border: none;
	padding: 12px 28px;
	border-radius: 5px;
	font-family: var(--font-inter);
}

.button__add {
	background-color: var(--color-dark-blue);
	color: var(--color-gray-6);
}

.habits {
	width: 61.75rem;
}

.habits__header {
	font-size: 16px;
	font-weight: 400;
	color: var(--color-gray-7);
}

.habits__checkbox:checked {
}

.habits__title {
	font-size: 16px;
	font-weight: 500;
	color: var(--color-gray-1);
}

.habits__description {
	font-size: 16px;
	font-weight: 500;
	color: var(--color-gray-1);
}

.habits__category {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--color-black);
	width: 100px;
	height: 1.5rem;
	background-color: var(--color-ligth-blue);
	border: none;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
	color: var(--color-blue);
}

.button__editHabit {
}

.button__next {
	background-color: var(--color-dark-blue);
	color: var(--color-gray-6);
}

/* ! Estilização dos modais */

.edit-modal {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vw;
}

.modal__button-close {
	position: relative;
	float: right;
	top: 32px;
	right: 32px;
	color: var(--color-gray-7);
}
.edit-modal__content {
	min-width: 305px;
	max-width: 502px;
	margin: 0 10px;
	margin-top: 29px;
	background-color: var(--color-white);
	border-radius: 8px;
	height: 480px;
}
@media (min-width: 768px) {
	.edit-modal__content {
		margin: 29px auto;
	}
}

.edit-modal__form {
	padding: 32px;
	display: grid;
	grid-auto-flow: column;
	grid-template-areas:
		"title title"
		"label-name label-name"
		"input-name input-name"
		"label-description label-description"
		"input-description input-description"
		"label-category label-category"
		"select-category select-category"
		"label-status input-status"
		"button-save button-save"
		"button-delete button-delete";
}

.edit-modal__input {
	min-width: 277px;
	height: 40px;
	background-color: var(--color-gray-5);
}

.edit-modal__title {
	grid-area: title;
	color: var(--color-gray-1);
	font-size: 1.25rem;
}

.edit-modal__label {
	padding-bottom: 8px;
	padding-top: 28px;
	font-size: 0.875rem;
}

.edit-modal__select {
	min-width: 277px;
	height: 40px;
	background-color: var(--color-gray-5);
	padding: 8px;
	text-decoration: none;
	appearance: none;
}

.label__name {
	grid-area: label-name;
}

.input__name {
	grid-area: input-name;
}

.label__description {
	grid-area: label-description;
}

.input__description {
	grid-area: input-description;
	height: 80px;
}

.label__category {
	grid-area: label-category;
}

.select__category {
	grid-area: select-category;
}

.label__status {
	grid-area: label-status;
	font-size: 1rem;
	font-weight: 500;
}

.input__status {
	grid-area: input-status;
	justify-self: end;
}

.button__save-changes {
	grid-area: button-save;
}

.button__delete-changes {
	grid-area: button-delete;
}

.edit-modal__input--description {
	height: 80px;
}

.edit-modal__check {
}

.modal__button {
}

.button__save-changes {
}
