<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="../styles/reset.css" />
	<link rel="stylesheet" href="../styles/base.css" />
	<link rel="stylesheet" href="../styles/style.home.css" />
	<title>KenzieHabit</title>
</head>

<body>
	<header class="header">
		<div class="header__top">
			<h1 class="header__logo">KenzieHabit</h1>
			<figure class="header-top__figure">
				<img src="https://i.pinimg.com/originals/be/2d/30/be2d307e7f0004d3b014ee1120756a93.png" alt="Teste"
					class="header-top__img" />
			</figure>
		</div>
		<div class="header__bottom">
			<figure class="header-bottom__figure">
				<img src="https://i.pinimg.com/originals/be/2d/30/be2d307e7f0004d3b014ee1120756a93.png" alt="Teste"
					class="header-bottom__img" />
			</figure>
			<h3 class="header__username">Nome teste user</h3>
		</div>
	</header>
	<main>
		<section class="filters">
			<div class="fiters__title">
				<h3>Tarefas</h3>
			</div>
			<div class="containerButtons">
				<button class="button button__filter">Todos</button>
				<button class="button button__filter">Concluidos</button>
				<button class="button button__add">Criar</button>
			</div>
		</section>

		<table class="habits">
			<thead>

				<tr class="habits__header">
					<th class="header__category__status">Status</th>
					<th class="header__category__title">Título</th>
					<th class="header__category__description">Descrição</th>
					<th class="header__category__category">Categoria</th>
					<th class="header__category__edit">Editar</th>
				</tr>
			</thead>

			<tbody class="habits__body">

				<tr class="habits__body__line">
					<td class="habits__checkbox"><input type="checkbox" /></td>
					<td class="habits__title">
						<h3>Fazer exercícios segunda pela manhã
					<td class="habits__description">
						<p>
							Ir correr na praça próximo de casa
						</p>
					</td>
					<td><span class="habits__category">Saúde</span></td>
					<td class="button button__edit__habit"><button>...</button></td>
				</tr>

				<tr class="habits__body__line">
					<td class="habits__checkbox"><input type="checkbox" /></td>
					<td class="habits__title">
						<h3>Acessar conteúdo do assunto da semana anterior</h3>
					</td>
					<td class="habits__description">
						<p>
							Esse hábito tem como objetivo
						</p>
					</td>
					<td><span class="habits__category">Estudos</span></td>
					<td class="button button__edit__habit"><button>...</button></td>
				</tr>

				<tr class="habits__body__line">
					<td class="habits__checkbox"><input type="checkbox" /></td>
					<td class="habits__title">
						<h3>Pedir relatório de feedback após duas semanas</h3>
					</td>
					<td class="habits__description">
						<p>
							A importância desse tarefa
						</p>
					</td>
					<td><span class="habits__category">Trabalho</span></td>
					<td class="button button__edit__habit"><button>...</button></td>
				</tr>

				<tr class="habits__body__line">
					<td class="habits__checkbox"><input type="checkbox" /></td>
					<td class="habits__title">
						<h3>Fazer exercícios segunda pela manhã</h3>
					</td>
					<td class="habits__description">
						<p>
							Ir correr na praça próximo de casa
						</p>
					</td>
					<td><span class="habits__category">Saúde</span></td>
					<td class="button button__edit__habit"><button>...</button></td>
				</tr>

				<tr class="habits__body__line">
					<td class="habits__checkbox"><input type="checkbox" /></td>
					<td class="habits__title">
						<h3>Acessar conteúdo do assunto da semana anterior</h3>
					</td>
					<td class="habits__description">
						<p>
							Esse hábito tem como objetivo
						</p>
					</td>
					<td><span class="habits__category">Estudos</span></td>
					<td class="button button__edit__habit"><button>...</button></td>
				</tr>

				<tr class="habits__body__line">
					<td class="habits__checkbox"><input type="checkbox" /></td>
					<td class="habits__title">
						<h3>Pedir relatório de feedback após duas semanas</h3>
					</td>
					<td class="habits__description">
						<p>
							A importância desse tarefa
						</p>
					</td>
					<td><span class="habits__category">Trabalho</span></td>
					<td class="button button__edit__habit"><button>...</button></td>
				</tr>

				<tr class="habits__body__line">
					<td class="habits__checkbox"><input type="checkbox" /></td>
					<td class="habits__title">
						<h3>Fazer exercícios segunda pela manhã</h3>
					</td>
					<td class="habits__description">
						<p>
							Ir correr na praça próximo de casa
						</p>
					</td>
					<td><span class="habits__category">Saúde</span></td>
					<td class="button button__edit__habit"><button>...</button></td>
				</tr>

				<tr class="habits__body__line">
					<td class="habits__checkbox"><input type="checkbox" /></td>
					<td class="habits__title">
						<h3>Acessar conteúdo do assunto da semana anterior</h3>
					</td>
					<td class="habits__description">
						<p>
							Esse hábito tem como objetivo
						</p>
					</td>
					<td><span class="habits__category">Estudos</span></td>
					<td class="button button__edit__habit"><button>...</button></td>
				</tr>

				<tr class="habits__body__line">
					<td class="habits__checkbox"><input type="checkbox" /></td>
					<td class="habits__title">
						<h3>Pedir relatório de feedback após duas semanas</h3>
					</td>
					<td class="habits__description">
						<p>
							A importância desse tarefa
						</p>
					</td>
					<td><span class="habits__category">Trabalho</span></td>
					<td class="button button__edit__habit"><button>...</button></td>
				</tr>

			</tbody>
		</table>
	</main>

	<button class="button__next">Carregar mais</button>


	<script src="../script/home.js" type="module"></script>
</body>

</html>