<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
			integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>

		<link rel="stylesheet" href="../styles/reset.css" />
		<link rel="stylesheet" href="../styles/base.css" />
		<link rel="stylesheet" href="../styles/style.home.css" />
		<link rel="stylesheet" href="../styles/style.modals.css" />
		<title>KenzieHabit</title>
	</head>
	<body>
		<header class="header">
			<div class="header__top">
				<h1 class="header__logo">KenzieHabit</h1>
				<figure class="header-top__figure">
					<img
						src="https://i.pinimg.com/originals/be/2d/30/be2d307e7f0004d3b014ee1120756a93.png"
						alt="avatar"
						class="header-top__img"
					/>
				</figure>
			</div>
			<div class="header__bottom">
				<figure class="header-bottom__figure">
					<img
						src="https://i.pinimg.com/originals/be/2d/30/be2d307e7f0004d3b014ee1120756a93.png"
						alt="avatar"
						class="header-bottom__img"
					/>
				</figure>
				<h3 class="header__username">Nome teste user</h3>
			</div>
		</header>
		<main>
			<section class="filters">
				<!-- <h3>Tarefas</h3>
				<div class="containerButtons">
					<button class="button button__filter">Todos</button>
					<button class="button button__filter">Concluidos</button>
					<button class="button button__add">Criar</button>
				</div> -->
			</section>

			<table class="habits">
				<thead class="habits__header">
					<tr>
						<th>Status</th>
						<th>Título</th>
						<th>Descrição</th>
						<th>Categoria</th>
						<th>Editar</th>
					</tr>
				</thead>

				<tbody class="habits__body">
					<!-- <tr>
						<td><input type="checkbox" class="habits__checkbox" /></td>
						<td><h3 class="habits__title">Lorem ipsum dolor sit.</h3></td>
						<td>
							<p class="habits__description">
								Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								Labore, unde!
							</p>
						</td>
						<td><span class="habits__category">Lorem.</span></td>
						<td><button class="button button__editHabit">...</button></td>
					</tr>
					<tr>
						<td><input type="checkbox" class="habits__checkbox" /></td>
						<td><h3 class="habits__title">Lorem ipsum dolor sit.</h3></td>
						<td>
							<p>
								Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								Labore, unde!
							</p>
						</td>
						<td><span class="habits__category">Lorem.</span></td>
						<td><button class="button button__editHabit">...</button></td>
					</tr>
					<tr>
						<td><input type="checkbox" class="habits__checkbox" /></td>
						<td><h3 class="habits__title">Lorem ipsum dolor sit.</h3></td>
						<td>
							<p>
								Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								Labore, unde!
							</p>
						</td>
						<td><span class="habits__category">Lorem.</span></td>
						<td><button class="button button__editHabit">...</button></td>
					</tr> -->
				</tbody>
			</table>
			<button class="button button__next">Carregar mais</button>
		</main>
		<script type="module" src="../script/home.js"></script>
	</body>
</html>
